<%= render 'nav' %>

<% if @template.google_fonts_embed.present? %>
  <% content_for :google_fonts do %>
    <%= raw @template.google_fonts_embed %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <%= render 'preview' %>
  </div>
</div>