<%= render 'nav' %>

<%= render 'css' %>

<div class="row">
  <div class="col-md-6">
    <%= render 'preview_vote' %>
  </div>
  <div class="col-md-6">
    <%= render 'preview_ready' %>
  </div>
</div>
