<div class="col-12 col-md-6">
  <%= bootstrap_form_with(model: [:admin, @attendee], local: true) do |form| %>

    <%= form.text_field :name %>
    <%= form.email_field :email %>

    <div class="actions">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>