 <div class="card mb-4">
  <div class="card-header">
      Placeholder Melbourne Debate<br>
      <small>March 23, 2025</small>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      What Pokemon is most likely to show hole?<br>
      <i>Charizard</i>
    </li>
    <li class="list-group-item">
      Who will sing next?<br>
      <i>Joey Richter</i>
    </li>
  </ul>

</div>