body {
  text-transform: uppercase;
}

h1, h2, h3, h4, h4, h5, h6 {
  color: #FFCB0A
  ;
}

.bg-black {
  background-color: #000;
}

.text-black {
  color: #000;
}

#welcome-page{
  label {
    color: #FFFFFF;
  }

  input {
    color: #FFCB0A;
    border-color: #FFCB0A;
  }

  .btn-primary {
    background-color: #FFCB0A;
    border-color: #FFCB0A;
    color: #000;
  }
}