
<% if show.image.attached? %>
  <% show.image.analyze unless show.image.analyzed? %>
  <% ratio = show.image.metadata[:width].to_f/show.image.metadata[:height].to_f %>

  <div class="container-fluid template-light-page p-0 text-center">
    <div class="text-center mx-auto col-12 col-sm-9 col-md-6 col-lg-5">
      <%= image_tag rails_public_blob_url(show.image), class: "img-fluid", style: "width: 100%; aspect-ratio: #{ratio}" %>
    </div>
  </div>
<% end %>