<div id="<%= dom_id(@show) %>" class="d-flex flex-column full-height">
  <!-- Row 1: Text -->
  <div class="container-fluid template-dark-page py-3">
    <p class="h1 text-center">
      STAND BY
    </p>
  </div>

  <%= render 'logo', show: show %>

  <div class="container-fluid template-dark-page d-flex flex-column fill-remaining align-items-center">
    <p class="h3 mt-auto mb-auto mx-5 my-5 text-center">
      Stand by for the next vote.
    </p>
  </div>
</div>
